*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/
.medatadata/
/captures
.externalNativeBuild
**/.temp/
**/FitNesseRoot/PageFooter/
**/FitNesseRoot/PageHeader/
**/FitNesseRoot/RecentChanges/
**/FitNesseRoot/TemplateLibrary/
**/FitNesseRoot/FitNesse/
**/FitNesseRoot/files/testResults/
**/RecentChanges.wiki
**/.attach_*
**/.factorypath
**/bin
**/.metadata
**/pom.xml~
**/*~
**/.idea
**/.classpath
**/.springBeans
**/target
**/*.iml
**/*.log
**/.project
**/.settings
**/.tern-project
**/D_*sql
**/H_*sql
**/P_*sql
**/*.zip
**/*.tar.gz
**/*.releaseBackup
**/release.properties
**/node_modules
**/dist
**/dist.dev
**/dist.prod
**/*error.log
**/prorigem/
**/*.apk
**/*NCPF.java
**/dependency-reduced-pom.xml
**/attach_pid*
message
